extends ../layout
block content
    .container.content-panel
        .row
            .col-md-5
                form.form-horizontal(id="defaultForm", role="form", method="POST", action="/product/addProduct")
                    .modal-body
                        h3.page-header 添加产品
                        .form-group
                            label 产品信息
                            input.form-control(name="product[msg]" type="text")
                        .form-group
                            label 加工步骤
                            input.form-control(name = "product[jiagongbz]" type="text")
                        .form-group
                            label 刀具寿命
                            input.form-control(name = "product[jiagongsl]" type="text")
                        .form-group
                            label 刀具型号
                            input.form-control(name = "product[daojuxh]" type="text")
                    .modal-footer
                        button.btn.btn-default(type="button", data-dismiss="modal") 关闭
                        button.postMsg.btn.btn-default(type="submit") 提交
    link(href="/css/sweet-alert.css",rel="stylesheet")
    script(src="/js/sweet-alert.js")
    script(src="/libs/bootstrap/dist/js/bootstrapValidator.js")
    script(src="/js/addNewMember.js")