#leftBar
    div.left_menu_top
        if user
            if (user.role == 0)
                ul.left_menu_module
                    li
                        a(href="/product/add",class="#{activeNav('/product/add')}")
                            i.glyphicon.glyphicon-user
                            span 添加产品信息
                    li
                        a(href="/productList",class="#{activeNav('/productList')}")
                            i.glyphicon.glyphicon-eye-open
                            span 查看产品信息
                    li.occupy
                        a(href="javascript:void(0)")
                            i.glyphicon.glyphicon-list
                            span 分配权限
            if (user.role != 0)
                ul.left_menu_module
                    li
                        a(href="/productList",class="#{activeNav('/productList')}")
                            i.glyphicon.glyphicon-eye-open
                            span 查看产品信息