extends ../layout
block content
    .container.content-panel
        .row
            .col-md-5
                form.form-horizontal(id="defaultForm", role="form", method="POST", action="/product/addPlan/#{product.msg}/#{yid}")
                    .modal-body
                        h3.page-header 添加今日生产计划
                        .form-group
                            label 添加今日生产计划
                            input.form-control(name="planNum" type="text")
                    .modal-footer
                        button.btn.btn-default(type="button", data-dismiss="modal") 关闭
                        button.postMsg.btn.btn-default(type="submit") 提交